<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pekl.gasqueue.com.gasqueue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitiy.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activitiy.HostActivity" />
        <activity android:name=".Activitiy.PickupActivity" />
        <activity android:name=".Activitiy.ProductActivity" />
        <activity android:name=".Activitiy.CartActivity" />
        <activity android:name=".Activitiy.ProductDetailActivity" />
        <activity android:name=".Activitiy.ChatActivity" />
        <activity android:name=".Activitiy.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activitiy.WelcomeBarActivity" />
        <activity android:name=".Activitiy.CreateBarActivity" />
        <activity android:name=".Activitiy.ChangeProductDetailActivity" />
        <activity android:name=".Activitiy.EditCategoryActivity"></activity>
    </application>

</manifest>